/*code coming soon */
body{
    margin: 0;
    padding: 0;
    height: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;

}

.logo{
    text-decoration: none;
    padding: 60px;
    color: white;
    
}
.navbar{
    margin: 0%;
    padding: 0%;
   
 
}

.navlink{
    text-decoration: none;
    color: white;
    word-spacing: 0px;
    padding: 15px;
    text-align: left;
    
}
.navclass{
    background-color: #1F2937 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    margin:0;
}

.nav1{
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.h1.navlink{
     color: white;
}

.p.navlink{
    color: white;
}

.signup{
    color: white;
    background-color: #3882f6;
    border: #3882f6;
    border-radius: 20%;
    /*border-radius: 6px 6px 6px 6px;*/
    padding: 7px 5px 7px 5px;
    width: 50%;
    height: 10px;
}

.navimg{
    width: 50%;
    display: flex;
    height: none;
    width: 50%;
    padding: 10px;
    
}

.main1{
    display: flex;
    flex-direction: column;
}

.head1{
    text-align: center;
}

.mainflex{
  display: flex; 
  /*float: left;*/
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.imgflex{
    width:200px;
    height:200px;
    border: 2px solid #000000;
    object-fit: cover;
    display:flexbox;
    align-items: center;
    justify-content: center;
}

.main2{
    background-color:#e5e7eb;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.para2{
    font-style: italic;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.box{
    background-color: #3882f6;
    padding:0px;
    margin: 20px 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}
/*button*/
.button{
    text-decoration: none;
    color: white;
    border: 0.5px solid white;
    border-radius: 7px;
    word-spacing: 3px;
    
}
/*footer */
.main3{
    background-color: #1F2937;
    width:auto;
    padding: 1%;
    color: white;
    
}

.main23{
    text-align: center;
}
